/* -------------------------------------------------------------------------- */
/*                      Styles for the Project component                      */
/* -------------------------------------------------------------------------- */
.projectContainer {
  margin: 1em auto;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  gap: 0.5em;

  .title {
    font-size: 1.5em;
    font-weight: 600;
  }

  .summary {
    padding: 0.5em;
  }

  .linksWrapper {
    display: flex;
    justify-content: flex-start;
    grid-column: 1/3;
    align-items: center;

    .github {
      margin: 0.2em 0.5em;
      display: flex;
      gap: 0.2em;
      align-items: center;
    }

    .website {
      margin: 0.2em 0.5em;
      display: flex;
      gap: 0.2em;
      align-items: center;
    }
  }

  .image {
    border-radius: 0.5em;
    border: 1px solid black;
  }

  .tech {
    grid-column: span 2;
    margin: 0.5em 0.5em;
    border: 1px solid black;
    display: inline-block;
    width: fit-content;
    padding: 0 0.5em;
    border-radius: 0.3em;
    background-color: hsl(217, 100%, 83%);
  }
}

@media screen and (max-width: 700px) {
  .projectContainer {
    grid-template-columns: 1fr;
    font-size: 0.9em;

    .image {
      width: 100%;
      // margin: 0 auto;
    }

    .linksWrapper {
      flex-direction: column;
      grid-column: unset;
      align-items: start;
    }

    .title {
      font-size: 1.3em;
      text-align: center;
    }

    .tech {
      grid-column: unset;
    }
  }
}
