@use "sass:color";

.app {
  width: 80%;
  margin: 1em auto;

  a {
    text-decoration: none;
    color: hsl(253, 73%, 60%);
  }

  a:hover {
    color: hsl(253, 73%, 50%);
  }
}

@media screen and (max-width: 768px) {
  .app {
    width: 95%;
  }
}
