@use "sass:color";

/* -------------------------------------------------------------------------- */
/*                            Set global css tweaks                           */
/* -------------------------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  width: 80%;
  margin: 1em auto;
}

@media screen and (max-width: 768px) {
  .app {
    width: 95%;
  }

}
